<nav>
 <div class="logo">
  <h4>Shoes SHop</h4>
 </div>
 <ul class="nav-group">
  <li routerLink="/" class="nav-link">PRODUCTOS </li>
  <li routerLink="/login" class="nav-link">LOGIN</li>
  <li routerLink="/signup" class="nav-link">REGISTRO</li>
 </ul>
</nav>
