nav{
 z-index: 1;
 position: fixed;
 top:0;
 box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
 background-color: rgba(96, 23, 180, 0.767);
 display: flex;
 color: white;
 width: 100%;
 height: 10vh;
 justify-content: space-around;
 align-items: center;
}

.logo{
 padding-left: 50px;
 display: flex;
 flex: 2;
 margin: auto;
 align-items: center;
}

.logo h4{
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: bolder;
 font-size: 2rem;
}

.nav-group{
 flex: 3;
 display: flex;
 justify-content: space-around;
 list-style-type: none;
}

.nav-link{
 text-transform: uppercase;
 color: white;
 text-decoration: none;
 font-size: 0.9rem;
 cursor: pointer;
}
