h1{
 margin-top: 20px;
 text-align: center;
 letter-spacing: 3px;
 color:rgba(96, 23, 180, 0.767);
 text-transform: uppercase;
}
.base-container {
 background-color: white;
 margin-top: 180px !important;
 margin: auto;
 width: 33%;
 display: flex;
 flex-direction: column;
 align-items: center;
}



.form-group {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 width: fit-content;
}

label {
 font-size: 20px;
}
input {
 margin-top: 6px;
 min-width: 18em;
 height: 37px;
 padding: 0px 10px;
 font-size: 16px;
 font-family: "Open Sans", sans-serif;
 background-color: #f3f3f3;
 border: 0;
 border-radius: 4px;
 margin-bottom: 31px;
}

.btn{
 background-color: rgba(96, 23, 180, 0.767);
 color: white;
 font-weight: bold;
 border: 0;
 padding: 10px 12px;
}

.less{
 color: rgb(243, 21, 58);
}

.more{
 color: rgba(99, 41, 165, 0.466);
}

.warning{
 color: rgb(228, 17, 59);
}