.card{
 margin-top: 150px!important;
 width: 75%;
 margin: auto;
}
.info-wrapper{
 padding: 50px 70px;
 display: flex;

}
.img-container{
 flex: 1;
}
.description{
 flex: 1;
 padding: 20px 50px;
}
.description h2{
 letter-spacing: 2px;
}
.description h2{
 color:  rgba(96, 23, 180, 0.767);
 text-transform: uppercase;
}
.photo img{
 width: 400px;
}
.card-footer{
 background: transparent;
}
.btn{
 background-color:  rgba(96, 23, 180, 0.767);
 color: white;
 font-weight: bold;
 border: 0;
 padding: 10px 12px;
}