<div class="card">

<div class="info-wrapper">
 <div class="img-container">
  <figure class="photo"> <img className="card-img-top" src={{producto.imgUrl}}> </figure>
 </div>
 <div class="description">
  <h2>descripción</h2>
  <h4>{{producto.descripcion}}</h4>
 </div>
</div>
<div class="card-footer">
<h5 class="align-self-center"><b>{{producto.name}}</b></h5>
<p class="align-self-center"><b>Description:</b> {{producto.descripcion}}</p>
<h5 class="precio align-self-center font-italic mb-3">Precio: {{producto.price}} $</h5>
<button class="btn align-self-right">Comprar</button>
</div>
</div>
