<div class="img-container">
 <figure class="photo"> <img class="card-img-top" src={{data.imgUrl}}> </figure>
</div>
<div class="card-footer">
<h5 class="align-self-center mb-0">{{data.name}}</h5>
<p class="align-self-center">{{data.description}}</p>
<h5 className="precio font-italic mb-0">{{data.price}} $</h5>
<button class="btn" routerLink="/producto/{{data.id}}">Ver detalle</button>
</div>
