h1{
 margin-top: 120px;
 text-align: center;
 letter-spacing: 3.5px;
 font-size: 4rem;
 font-family: 'Romanesco';
 color: rgba(99, 41, 165, 0.466);
}

.product-wrapper{
 display: grid;
 grid-template-columns: repeat(3, minmax(350px, 1fr));
 grid-gap: 2rem;
 padding: 70px 50px;
 margin-top: 60px;
}

.card{
 transition: 0.5s;
}
.card:hover {
 box-shadow: 0 8px 16px 0 rgba(99, 41, 165, 0.466);
}


